<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony Live 2019 Paris{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('style.css') }}">
        {% endblock %}
    </head>
    <body>
    <header>
        <h1>{% block h1 %}HTML{% endblock %}</h1>
        <div class="nav">
            <ul>
                <li><a href="{{ path('default') }}">HTML</a></li>
                <li><a href="{{ path('glide_demo') }}">Glide</a></li>
                <li><a href="{{ path('thumbor_demo') }}">Thumbor</a></li>
            </ul>
        </div>
    </header>
    <section class="container">
        {% block body %}
            <article class="media">
                <picture class="media-object">
                    <source media="(max-width: 767px)"
                            sizes="(max-width: 1534px) 100vw, 1534px"
                            srcset="
                                {{ asset('images/elephant_750.jpg') }} 750w,
                                {{ asset('images/elephant_1131.jpg') }} 1131w,
                                {{ asset('images/elephant_1415.jpg') }} 1415w,
                                {{ asset('images/elephant_1534.jpg') }} 1534w">

                    <source media="(min-width: 768px) and (max-width: 1199px)"
                            sizes="(max-width: 2400px) 50vw, 1200px"
                            srcset="
                                {{ asset('images/elephant_384.jpg') }} 384w,
                                {{ asset('images/elephant_785.jpg') }} 785w,
                                {{ asset('images/elephant_1026.jpg') }} 1026w,
                                {{ asset('images/elephant_1200.jpg') }} 1200w">

                    <img id="test" sizes="(max-width: 3840px) 50vw, 1920px"
                         srcset="
                             {{ asset('images/elephant_600.jpg') }} 600w,
                             {{ asset('images/elephant_1166.jpg') }} 1166w,
                             {{ asset('images/elephant_1585.jpg') }} 1585w,
                             {{ asset('images/elephant_1920.jpg') }} 1920w"
                         src="{{ asset('images/elephant_1920.jpg') }}"
                         alt="">
                </picture>
                <div class="media-body">
                    <h3 class="media-heading">Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus hic impedit ipsa nesciunt numquam! Atque aut beatae ea facere impedit quia repellendus, tenetur ut? Distinctio, excepturi, exercitationem! Consequatur, eveniet, quam!</p>
                </div>
            </article>
        {% endblock %}
    </section>

    {% block javascripts %}
        <script type="text/javascript">
            let getCurrentSrc = function () {
                let img = document.querySelector('img#test');
                console.table({
                    'currentSrc': img.currentSrc,
                    'img width': img.width,
                    'current DPR': window.devicePixelRatio,
                    'img Physical Width': img.width * window.devicePixelRatio,
                });
            }

            window.addEventListener('resize', getCurrentSrc);
            window.addEventListener('load', getCurrentSrc);
        </script>
    {% endblock %}
    </body>
</html>
